@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "tailwindcss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border: none;
  outline: none;

  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}

html,
body {
  width: 100%;
  height: 100%;
}

a {
  color: black;
  text-decoration: none;
  margin-right: 20px;
}

::-webkit-scrollbar {
  display: none;
}

#root {
  background-color: rgba(255, 224, 184, 0.523);
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

.first-container {
  width: 100%;
  height: 82.3vh;
  background-image: url("../src/assets/pexels-ksenia-chernaya-5768107.jpg");
  background-size: cover;
  background-position: center;
}

.second-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 82.3vh;
  width: 100%;
  padding: 20px;
}

.content-home {
  position: absolute;
  top: 30%;
  left: 5%;
}

.content-home p {
  font-size: 42px;
  font-weight: 800;
  color: rgb(0, 0, 0);
  letter-spacing: 7px;
}

.content-home button {
  background-color: white;
  color: black;
}

/***********************************************/

.filter-container {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.filter-container input,
select {
  border: none;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

.all-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 14px;
  /* min-height: 100px; */
  overflow: visible;
  padding: 10px;
  margin-bottom: 30px;
}

.spinner-container {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*
.card {
  flex: 1; 
  min-width: 250px; 
  max-width: 300px;
  margin: 10px;
}

@media (max-width: 768px) {

  .first-container,
  .second-container {
    min-height: 300px;

  }
  .all-items {
    gap: 10px;
    margin-bottom: 20px;
  }

} */
